<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Parc Épique, la carte de toutes les aires de jeux pour enfants de France</title>
  <meta name="description" content="Trouvez les meilleures aires de jeux et parcs pour vos enfants. Avis, photos, localisation : trouvez toutes les informations utiles pour trouver  l'aire de jeux  ou le parc pour enfants idéal. Toboggan, balancoire, escalade : voyez les équipements disponibles. Disponible à Paris, Lyon, Marseille, Nantes et dans tout le reste de la France.">
  <meta name="author" content="Francis Chabouis">
  <link rel="icon" type="image/png" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon.ico">
  <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
  <!-- Add to home screen for Android and modern mobile browsers -->
  <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">
  <meta name="theme-color" content="#1bd980">

  <!-- Add to home screen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Parc Épique">
  <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-144x144.png">
  <!-- Add to home screen for Windows -->
  <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-144.png">
  <meta name="msapplication-TileColor" content="#000000">
  <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>">
    <% }}} %>
      <link href='https://fonts.googleapis.com/css?family=Dosis|Material+Icons' rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
        crossorigin="" />
      <meta property="og:title" content="Parc Épique, la carte de toutes les aires de jeux pour enfants de France" />
      <meta property="og:description" content="Trouvez facilement les aires de jeux pour enfants proches de vous !" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="https://parc-epique.fr" />
      <meta property="og:image" content="http://parc-epique.fr/static/img/screenshot.png" />
</head>

<body>
  <noscript>
    <h1>Parc Épique, la carte de toutes les aires de jeux pour enfants de France</h1>

  </noscript>
  <div id="app"></div>
  <!-- Todo: only include in production -->
  <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
</body>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113819443-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-113819443-1');
</script>

</html>